#ntm-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 480px;
    max-height: 720px;
}

.ntm-section {
    width: 50%;
}

#page-num {
    display: inline-block;
    width: 4em;
}

#prev-page {
    margin-right: 5px;
}

#next-page {
    margin-left: 5px;
}

.merge-group-indicator {
    float: right;
    font-size: 12px;
    font-style: italic;
}

.terms-section {
    display: flex;
    flex-direction: column;
}

.merge-groups-heading {
    display: inline-block;
    margin-right: 10px;
}

.merge-group-heading {
    margin-top: 5px;
}

.new-merge-group {
    position: relative;
    top: 10px;
}

.slot {
    width: 85%;
    padding: 10px 15px;
    border: 1px solid #aeaeae;
    flex-grow: 2;
}

.remove-merge-group {
    margin-left: 10px;
    color: red;
}

.overflow-y-scroll {
    overflow-y: scroll;
}

.slot > li {
    border: 1px solid #aeaeae;
    border-radius: 5px;
    padding: 5px 12px;
    margin: 6px 4px;
    cursor: pointer;
}

.merge-button {
    margin: 20px 0;
}

#all-terms > li:hover {
    background-color: #aeaeae;
    font-weight: 600;
}

#all-terms > .selected {
    background-color: #2271b1;
    color: #fff;
    font-weight: 600;
}

.merge-group > li.pivot {
    background-color: #2271b1;
    color: #fff;
    font-weight: 600;
    font-style: italic;
}

.merge-group > li.pivot:before {
    content: '★';
    font-style: normal;
    margin-right: 1px;
}

.merge-group > li:hover {
    background-color: #aeaeae;
    font-weight: 600;
}

.slot .remove {
    float: right;
    font-style: unset;
    font-weight: normal;
}

